           /* header, footer, #side-menu section {
                margin: 2px;
                padding: 4px;
                border: 2px solid blue;
            }
            #content {
                margin: 2px;
                padding: 4px;
                border: 2px solid red;
            }
            #side-menu, #main {
                margin: 2px;
                padding: 4px;
                border: 2px solid green;
            }   */
            @font-face {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400 900;
                font-display: swap;
                src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
                unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
              }

            html h1, h2 {
                font-weight: 900;
                
            }
            
            header {
                font-weight: 100;

            }

            body {
                margin: 0;
                min-height: 100%;
                display: flex;
                flex-direction: column;
                font-family: 'Roboto', sans-serif;
                
            }
            header, body > section {
                flex: 1;
            }
            header > div {
                padding: 5px;
                
            }
            #content {
                flex: 4;
                display: flex;
                flex-direction: row;
                
            }
            #side-menu {
                flex: 1;
                padding: 20px 0px 0px 0px;
                
            }
            #main {
                flex: 4;
            }
            
            footer {
                min-height: 20px;
                text-align: center;
                padding: 10px;
                background-color: #334455;
                color: whitesmoke;
                font-weight: 900;
                display: grid;
                grid-template-areas: 'linkedin or fun';

                
            }

            .linkedin {
                justify-self: end;
            }
            .or {
                justify-self: center;
            }
            .fun {
                justify-self: start;
            }
/* links from footer start */
            /* unvisited link */
            a:link {
                color: rgb(128, 105, 0);
            }
            
            /* visited link */
            a:visited {
                color: rgba(128, 105, 0, 0.5);
            }
            
            /* mouse over link */
            a:hover {
                color: burlywood;
            }
            
            /* selected link */
            a:active {
                color: white;
            }
/* links from footer end */






body 
{background-color: #f5f5f5;}

#job-title {
    color: rgba(128, 105, 0, 1); 
    text-align: right;
}

#top-menu-bar {
    text-align: center;
    color: #fff;
    background-color: #334455;
}

#top-menu-bar li {
    display: inline;
    margin: 0;
    padding: 0;
}

#top-menu-bar a {
    text-decoration: none;
    padding: 0 15px 0 15px;
    color: #fff;
}

#top-menu-bar a:visited {color: #fff}

#top-menu-bar a:hover {
    color: #334455;
    background-color: rgba(128, 105, 0, 1);
    padding: 0 20px 0 20px;
}

.page {
    background-color: #fff;
    margin: 16px 0;
    padding: 24px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 15), 0 2px 3px rgba(0, 0, 0, .2);
    border-radius: 2px;
}

li {
    color: rgb(0, 0, 0)
}

.favorite {
    color: rgb(0, 0, 0);
    background-color: rgba(128, 105, 0 , 0.5);
    font-style: italic;
}

